@using MVCD2.ViewModel
@model CourseDegreeWithColor
<div class="card" style="width: 18rem;">
    <img src="/Images/@Model.Image" class="card-img-top" alt="/Images/@Model.Image">
    <div class="card-body">
        <h5 class="card-title">@Model.Id</h5>
        <p class="card-text">@Model.StdName</p>
        <p class="card-text">@Model.Age</p>
        <p class="card-text">@Model.Address</p>
        @if (Model.Courses.Any())
        {
            <p class="card-text"><strong>Courses & Degrees:</strong></p>
            <ul>
                @for (int i = 0; i < Model.Courses.Count; i++)
                {
                    var color = Model.Degree[i] >= 50 ? "green" : "red";
                    <li style="color: @color;">@Model.Courses[i] - @Model.Degree[i]</li>
                }
            </ul>
        }
        else
        {
            <p class="card-text">No courses available.</p>
        }


        @* <a href="G:\Full Stack Using .Net ITI\Mon4\Week1\Day61\Day2\MVCD1\MVCD1\Views\Student\Index.cshtml" class="btn btn-primary">Go somewhere</a> *@
    </div>
</div>